body {
    background-color: #fff;
    color: #1b1b1b;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin: 2% 5% 0;
}
p {
    font-size: 1.25em;
}
select, input {
    font-size: 0.875em;
}
table {
    max-width: 1000px;
    /*border-collapse: collapse;*/
    /*border: 1px solid #c9c9c9;*/
    /*margin: 0 auto 20px 0px;*/
}
th {
    /*background-color: #ddd;*/
    color: #555;
    padding: 0.5em 1em;
    text-align: left;
}
td {
    vertical-align: center;
    padding: 0.25em 1em;
}
tr {
    /*border-bottom: 1px solid #c9c9c9;*/
}
/*
tr:nth-child(even) {
    background-color: #e7edf6;
}
*/
fieldset {
    border: none;
    margin-left: 50px;
    padding: 1px 0;
}
fieldset p {
    margin: 0.5em 0 0.5em 30px;
}
legend {
    font-variant: small-caps;
    font-size: 1.5em;
}
h2 {
    margin: 0.5em 0;
}
h2 + p {
    margin: 0 0 0 40px;
}
input {
    /*margin-left: 20px;*/
    margin-bottom: 5px;
    padding: 1px 0;
}
.no_border {
    border: none;
}
